.card {
  width: 220px;
  height: 280px;
  margin: 2rem;
}

.MuiCard-root:hover {
  box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.media {
  width: 150px !important;
  height: 110px !important;
  object-fit: contain !important;
  margin: 0 auto;
  margin-top: 1rem;
}

.MuiTypography-h5 {
  font-family: var(--font-family) !important;
  font-size: 1.2rem !important;
  font-weight: bolder !important;
  color: #fff !important;
  text-align: center !important;
}

.MuiTypography-body2 {
  font-family: var(--font-family);
  color: #fff;
  font-size: 12px !important;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 150px !important;
    /* height: 130px !important; */
    margin: 1rem;
  }

  .media {
    width: 70px !important;
    height: 110px !important;
    object-fit: contain !important;
    margin: 0 auto;
    margin-top: 0.2rem;
    margin-bottom: -15px;
  }

  .MuiTypography-h5 {
    font-size: 0.8rem !important;
  }

  .MuiTypography-body2 {
    font-size: 10px !important;
  }
}
