.wrapper {
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multistep-form {
  width: 70%;
  box-shadow: -2px 8px 25px 1px #898989;
}

.multistep-form form {
  padding: 0 40px;
}

.nav-text {
  text-align: left;
}

.nav-content {
  margin-bottom: 0.5rem;
}

.nav-content p {
  font-size: 16px;
  font-weight: 700 !important;
  margin: 0.25rem 0;
  padding-left: 40px !important;
  width: 100%;
  background: transparent !important;
  color: #999 !important;
}

.form-header {
  background: #054a84 !important;
  color: #fff !important;
}

.multistep-form header {
  padding: 10px 20px !important;
  margin-left: -40px;
  width: -webkit-calc(100% + 80px);
}

.form-header h5 {
  font-size: 16px;
}

.img-upload {
  border-bottom: 1px dashed #bebebe;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 1rem;
}

.img-upload label {
  padding-left: 0;
}

.photo-wrap {
  width: 210px;
  margin: 20px auto;
}

.uploader {
  outline-color: rgb(235, 186, 22);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: flex;
  height: 220px;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
  position: relative;
  width: 220px;
  margin-bottom: 0.5rem;
}

.fa {
  display: inline-block;
  font-size: 30px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-upload {
  color: grey;
}

.mb-4 {
  margin-bottom: 1.4rem;
}
.img-content-text {
  text-align: center;
}

.img-text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.CurrencyTextField-textField-15 {
  text-align: left !important;
}

.mini-header {
  padding-top: 0.5rem;
  padding: 0.5rem 20px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background: #cdcdcd;
  font-size: 14px;
  color: #434345;
  display: flex;
  align-items: center;
}

.mini-header i {
  color: rgb(37, 26, 26);
  font-size: 20px;
  margin-right: 10px;
}

.buttons-pills {
  border-radius: 5px;
  line-height: 1.2;
  margin-left: 10px;
  border-color: #bbb;
  background-color: #fff;
  color: #464646;
}

.desc-header {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.desc {
  padding: 0;
  border: 0;
  background: transparent;
  text-decoration: none;
  vertical-align: middle;
  transition: none;
  word-wrap: break-word;
}

.desc-content {
  width: 100%;
  padding: 5px;
  font-family: var(--font-family);
  border-color: #031b34;
  border-radius: 6px;
}

.desc-content:focus {
  outline: none;
}

/* .MuiGrid-container {
  flex-wrap: nowrap !important;
} */

/* .MuiOutlinedInput-notchedOutline {
  border-color: #81afdd !important;
} */
